* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

.App {
    padding: 0px 3%;
}

/* Nav Bar */
li, .link, button {
    text-decoration: none;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
}

.navBar h4 {
    font-size: 1.6rem;
    margin-right: auto;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 10px;
}

.navLinks li .link:not(.cta) {
    padding:10px 20px;
    color: black;
    transition: all 0.5s ease 0s;
}

.cta {
    padding:10px 20px;
    color: white;
    background-color: black;
    transition: all 0.5s ease 0s;
}

.cta:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 9 19px;
}

.navLinks li .link:not(.cta):hover {
    color: white;
    background-color: black;
}
/* ------ */
